.about-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; 

   .about-header {
        height: 50px;
        width: 95%;
        text-align: center;
        font-size: 2.4rem;           
    }  
    
    .mission-statement {
        text-align: center;
        font-size: 20px;
        padding-right: 40px;
        padding-left: 40px;
        padding-bottom: 10px;
        margin-top: 40px;
    }
    .about-pic {
        display: flex;
        flex-direction: row; 
        .pic-one { 
            float: left;
            padding: 15px;
        }
        .pic-two {
            float: right;
        }
            
    }
    
   
    .services {
        text-align: center;
        font-size: 20px;
        margin-bottom: 40px;
    }
  }  
    