.contact-form-wrapper {    
    padding: 30px;
    font-family: 'Tangerine', cursive;
    height: 150px;
    width: 100rem;
    
}

.contact-form {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;    
}

.contact-phrase {
    display: flex;
    align-items: center;
    font-size: 2em;
}

.contact-email {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}