.contact-form-wrapper {       
    .contact-form {
        height: 50px;
        width: 95%;
        text-align: center;
        font-size: 2.4rem;                 
    }

    .contact-phrase {
        
        text-align: center;
        font-size:20px;        
        padding-left: 40px;     
        padding-right: 40px;   
        margin-top: 40px; 
    }

    .contact-email {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.4rem;
        margin-bottom: 140px;
    }

    .contact-pic {
        display:flex;
        justify-content: center;
        align-items: center;    
    }
}
