.home-page-wrapper {
    display: flex;
    justify-content: center;
}

.home-page-quote {
    display: flex;
    justify-content: center;    
    font-size: 120%;
}

.homepagepic {    
    height: 30%;
    width: 30%;
}