.home-page-wrapper {
    width: 90vw;
    margin-left: 10px;
    padding-bottom: 60px;

    .home-page-quote {    
        font-size: 100%;
        display:flex;
        justify-content: flex-start; 
        
        .quote {
            padding-top: 150px;
            padding-left:40px;
        }
                       
    }

    
    .homepagepic {    
        display: flex;
        justify-content: flex-end;   
        height: 30%;
        width: 30%;
    }
}