.home-page-wrapper {
    display: flex;
    justify-content: center;
}

.home-page-quote {    
    font-size: 200%;
    float: left;
    margin-right: 5px;
    padding-right: 30px;
    padding-top: 180px;
}

.homepagepic {    
    display:flex;
    justify-content: right;    
    height: 30%;
    width: 30%;
}