@media (max-width:615px) {
    .app {
        display: flex;   
        flex-direction: column;          
        align-items: center; 
        margin-top: 2rem;
        background-color: transparent;
        .page-container{
            
    
        .nav-wrapper {
            display: flex;
            justify-content: space-between;
            height: 190px;    
            width: 100vw;  
            font-family: 'Tangerine', cursive;
            background-color: #F1FAEE;        
            transition: 0.5s ease-in-out;    
            text-transform: uppercase;
            font-size: 1.8rem;
            border-bottom: 5px;
            border-color: grey;   
            margin-bottom: 15px;
            .left-side { 
            width: 15%;
                .logo {
                    height: 190px;
                    width: 200px;
                }
            }    
            .right-side {
                display: flex;
                align-items: center;
                justify-content: space-around;
                height: 100%;
                width: 100%;
                    
                .nav-link-wrapper {
                                        
                    .link {    
                    display:flex;
                    flex-direction: column;    
                    margin-top: 10%;
                    margin-left:8%;
                    }   
                }
            }
        }
    
        .home-page-wrapper{                
            display: flex;         
            flex-direction: column;  
            justify-content: center;             
            align-items: center;
            margin-top: 1px;
            margin-bottom: 1px;  
            font-size: 7px;               
            .homepagepic {
                display: flex;
                flex-direction: column;              
                margin-top: 1px;
                margin-bottom: 1px;  
                height: 250px;
                width: 250px;        
            }
            .home-page-quote {    
                font-size: 200%;
                float: left;
                margin-right: 5px;
                padding-right: 30px;
                padding-top: 180px;
            }
    }

    .commercial-header-wrapper{
        
        .comm-project-name-wrapper {
            display: flex;         
            flex-direction: column;  
            justify-content: center;             
            align-items: center;     
            margin-top: 1px;
            margin-right: 4rem;
            margin-left: 4rem; 
        }

        .commercial-header {
            display: flex;         
            flex-direction: column;  
            justify-content: center;             
            align-items: center;
            margin-top: 1px;
            margin-bottom: 1px;  
            font-size: 7px;   
        }
        .commercial-quote {
            display: flex;         
            flex-direction: column;  
            justify-content: center;             
            align-items: center;
            margin-top: 1px;
            margin-bottom: 1px;  
            font-size: 7px;          
        }
    }

   
}
    }
}