.page-container{
   
    
.nav-wrapper {   
    display: flex;
    justify-content: space-between;
    height: 190px;    
    width: 75vw;  
    font-family: 'Tangerine', cursive;
    // background-color: #F1FAEE;        
    transition: 0.5s ease-in-out;    
    text-transform: uppercase;
    font-size: 1.8rem;
    border-bottom: 20px;
    border-color: grey;   
    margin-bottom: 55px;
        .left-side { 
        width: 15%;
            .logo {
                height: 190px;
                width: 200px;
            }
}

.right-side {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 65%;
     
    .nav-link-wrapper {    
        a {
            text-decoration: none;
            cursor: pointer;
            color:black;         
        }
        .link {           
        margin-top: 15%;
        margin-left:10%;
        }   
    }
}
}
}
   
